body{
  background-color: azure;
}
.App {
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.search-bar{
  margin-top: 20px;
}
.image {
  margin-top: 10px;
}
